#header {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    z-index: 100000;
}

#listHeader{
    height: 60px;
    padding: 0 16px;
    padding-right: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    background: #fff;
}

#listHeader #appLogo{
    width: 40px;
    height: 40px;
    margin-right: 1em;
    display: none;
}

#listHeader button{
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--theme-color-green);
}
#listHeader #theDp{
    height: 40px; width: 40px;
    border-radius: 50%; 
    background-color: #eee; 
    background-size: cover;
    background-position: center;
    margin-left: 12px;
}
#listHeader #user{
    display: flex;
    align-items: center;
    margin-left: auto;
}

#detailHeader{
    padding: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#detailHeader button{
    /*border: 1px solid #444;*/
    border: none;
    padding: 5px 8px;
    background: transparent;
    color: #444;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#logoutBtn{
    letter-spacing: 0.05em;
    font-size: 14px !important;
    padding: 8px 12px !important;
    text-transform: uppercase;
    color: #555 !important;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    outline: none;
    margin-left: auto;
}

#detailHeader #submitBtn{
    /*font-size: 12px;*/
    background-color: #03a9f4;
    color: white;
    border-radius: 3px;
    font-weight: normal;
}

#detailHeader #submitBtn.disabled{
    pointer-events: none;
    background-color: #82bad4;
    color: #cee2eb;
}

#detailHeader button:focus, 
#detailHeader button:active{
    outline: none;
    background: transparent;
}