#GameDetail{
    height: calc(100*var(--vh));
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#gamePlayers, #gameTiles{
    display: flex;
}

#gamePlayers{
    padding-top: 10px;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#gameTiles{
    flex-wrap: wrap;
}

.game-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    color: #a77;
    border-color: currentColor;
    position: relative;
}

.game-player img{
    display: inline-block;
    margin: auto;
    margin-bottom: 7vw;
    width: calc((70*var(--vh)) - 100vw);
    height: calc((70*var(--vh)) - 100vw);
    min-height: 70px;
    min-width: 70px;
    border-radius: 50%;
    border: 4px solid;
}

.game-player span{
    text-align: center;
    font-weight: bold;
    font-size: 9vw;
    position: relative;
}

.game-player span:after{
    content: '';
    position: absolute;
    top: -4vw;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    border: 3vw solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}