#GameDetail{
    height: calc(100*var(--vh));
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100000;
}

#gamePlayers, #gameTiles{
    display: flex;
}

#gamePlayers{
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.25s ease-out;
}

#gamePlayers:not(.visible){
    transform: translateY(-10vw) scale(0.8);
}

.game-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;
    color: #a77;
    border-color: currentColor;
    position: relative;
}

.game-player img{
    display: inline-block;
    margin: auto;
    margin-bottom: 1vw;
    width: calc((70*var(--vh)) - 100vw);
    height: calc((70*var(--vh)) - 100vw);
    min-height: 70px;
    min-width: 70px;
    border-radius: 50%;
    border: 7px solid;
}

#gamePlayers:not(.visible) .game-player img{
    /* width: calc((70*var(--vh)) - 120vw - 1em);
    height: calc((70*var(--vh)) - 120vw - 1em); */
}

.game-player span{
    text-align: center;
    font-weight: bold;
    font-size: 9vw;
    position: relative;
}

.game-player span:after{
    content: '';
    position: absolute;
    top: 12.5vw;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    border: 3.5vw solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

    border-top-width: 6vw;
    border-radius: 3px;
}

.game-player:not(.current) span:after,
#gamePlayers:not(.visible) .game-player span:after{
    opacity: 0;
}

.animated-tile{
    position: relative;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease-out;
}

#playedTiles{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100vw;
    height: 20vw;
    padding: 4vw 0;
}

#playedTiles:not(.visible){
    opacity: 0;
    pointer-events: none;
}

#playedTiles .GameTile{
    width: auto;
    max-width: 20vw;
    flex: 1;
    flex-shrink: 0;
    height: inherit;
}

#gameTiles{
    flex-wrap: wrap;
}