.letterplace-toast{
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 999999999;
    padding: 15px 10px;
    background: #fff;
    font-size: 15px;
    line-height: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    max-width: 180px;
    pointer-events: none;
    opacity: 0;
}

.letterplace-toast.show{
    opacity: 1;
    /* animation: toastEnter 1s forwards; */
}

.letterplace-toast.hide{
    opacity: 0;
    /* animation: toastExit 1s forwards; */
}

.letterplace-toast strong{
    text-transform: uppercase;
	font-weight: bolder; 
}

@keyframes toastEnter{
    from{
        opacity: 0;
        transform: translate3d(0, -200px, 0) rotate(-30deg);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes toastExit{
    from{
        opacity: 1;
        transform: none;
    }

    to{
        opacity: 0;
        transform: translate3d(0, 200px, 0) rotate(30deg);
    }
}